/*
 Theme Name:   NileLogistics Child
 Theme URI:    https://themeforest.net/item/nile-transportation-and-logistics-wordpress-theme/22577948?_ga=2.49698406.1950169768.1540459804-1483958182.1540292247
 Description:  NileLogistics Child Theme
 Author:       Lauri Kuparinen
 Author URI:   https://www.menestystarinat.fi
 Template:     nilelogistics
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:   nilelogisticsstyle.c
*/

html {
    scroll-behavior: smooth;
}

/* Header */

body.logged-in.admin-bar .fixed-header {
    top: 30px;
    background-color: rgba(0,0,0,0.8);
}

@media only screen and (max-width: 991px) {
    #fixed-header-dark {
        background-color: #000;
    }
}

/* Header 4.12 */

.background-white {
    background-color: #333333;
}

.background-grey-4 {
    background-color: #e1e1e1;
}

header .up-head {
    color: #333333;
}

header ul.nav-menu > li > a {
    color: #d2d2d2;
}

.fa {
    color: #333;
}

/* Header image */

.padding-tb-120px {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* General */

#btnBackTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 24px;
    background-color: #e53935;
    color: #fff;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    border: none;
}

#btnBackTop:hover {
    background-color: #333333;
}

#desktop {
    
}

#mobile {
    display: none;
}

@media (max-width: 991px) {
    #desktop {
        display: none;
    }

    #mobile {
        display: block;
    }
}

/* Fonts, paragraphs etc.. */

@font-face {
    font-family: 'Futura';
    src: url("fonts/futura-pt-light.ttf") format("truetype");
}

@font-face {
    font-family: 'FuturaBold';
    src: url("fonts/futura-pt-medium.ttf") format("truetype");
}

body {
    font-family: 'Futura', sans-serif;
}

h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'FuturaBold', sans-serif;
	font-weight: 700;
}

p {
    font-size: 1.15em;
}

a:hover {
    color: #e53935;
}

.whitetext {
    color: #fff;
    font-size: 1.3em;
}

header .up-head {
    font-size: 1.00em;
}

header ul.nav-menu > li > a {
    font-family: 'Futura', sans-serif;
    font-size: 1.28em;
}

@media only screen and (max-width: 1024px) {
    header ul.nav-menu > li > a {
        font-size: 1.00em;
    }
}

header ul.nav-menu > li ul.sub-menu li a {
    font-size: 1.28em;
}

.service.layout-1 a.title {
    font-size: 1.40em;
}

.service.layout-1 .dis {
    font-size: 1.20em;
}

.service.layout-1 {
    height: 525px;
}

.vc_btn3.vc_btn3-color-danger, .vc_btn3.vc_btn3-color-danger.vc_btn3-style-flat {
    background-color: #e53935 !important;
}

.post-entry p {
    text-transform: none;
    font-size: 14px;
}

.section-title .h2 {
    /* font-family: 'Futura', sans-serif !important; */
    font-family: 'FuturaBold', sans-serif !important;
}

.post-entry h1, h2, h3, h4, h5, h6 {
    /* font-family: 'Futura', sans-serif !important; */
    font-family: 'FuturaBold', sans-serif !important;
}

.post-entry h1, h2, h3, h4, h5, h6 {
    text-transform: none !important;
}

li {
    display: block;
}

@media only screen and (max-width: 414px) {
    ul {
        padding-left: 0;
    }

}

.text-capitalize {
    text-transform: none !important;
}

.contact-info-map .text {
    line-height: 13px;
}

/* Footer */

footer.layout-dark .output {
    padding-top: 75px;
    padding-bottom: 0px;
    background: #333;
}

/* Main menu */

header ul.nav-menu > li > a {
    text-transform: none;
}

header ul.nav-menu > li ul.sub-menu li a {
    text-transform: none;
}

@media only screen and (max-width: 991px) {
    header a.mobile-toggle {
        background-color: #a0a0a0 !important;
    }
}

/* Tuotteet etusivu - Välilehdet */

@media (min-width: 768px) {
    .wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic.vc_tta-tabs .vc_tta-panels {
        background-color: #fff !important;
    }
}

.wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab.vc_active>a {
    background-color: #e53935 !important;
    color: #fff !important;
    font-size: 18px;
}

.wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab>a {
    color: #2c2f34 !important;
    font-size: 18px;
}

.wpb-js-composer .vc_tta.vc_tta-shape-rounded .vc_tta-tab>a {
    border-radius: 0px !important;
}

/* WooCommerce */

.product-category product first {
    list-style-type: none !important;
}

.post-entry {
    list-style-type: none;
}

.post-entry h2 {
    font-size: 28px;
}

@media only screen and (max-width: 320px) {
    .post-entry h2 {
        font-size: 20px;
    }
}

.mark, mark {
    background-color:rgba(255,0,0,0.0);
    color: #2c2f34;
}

#tab-description h2 {
    display: none;
}

.descButton {
    background-color: #e53935;
    padding: 16px 35px;
    color: #fff;
    border-radius: 1px;
    -webkit-box-shadow: 0px 0px 18px -8px #858585;
    -moz-box-shadow: 0px 0px 18px -8px #858585;
    box-shadow: 0px 0px 18px -8px #858585;
}

.descButton:hover {
    background-color: #2c2f34;
    color: #fff;
}

@media only screen and (max-width: 568px) {     /* iPhone5 fix */
    .descButton {
        padding: 15px 10px;
    }
}

.pswp--animated-in .pswp__bg {
    opacity: 0.90 !important;
}

/* WooCommerce - category menu */

.nile-widget.layout-1 .title {  /* Hide "Tuotekategoriat" title */
    display: block;
    color: #fff;
    margin-left: 17px;
}

.nile-widget-area .nile-widget {
    padding: 30px 0px;
    background-color: #cc121b;
    border-bottom: none;
}

.cat-item {
    border-bottom: 1px solid #fff;
    width: 80%;
    padding: 8px 0px 5px;
}

.cat-item-28 { /* This hides Solar-tuotteet from the menu*/
    display: none;
}

.product-categories a {
    color: #fff;
    font-size: 1.25em;
}

/* WooCommerce - category Bellows menu */

.bellows {
    margin: 0px 0 !important;
}

.bellows .bellows-nav .bellows-target {
    padding: 20px 7px 20px !important;
}

.bellows .bellows-nav .bellows-target>.bellows-target-description {
    display: none !important;
}

.bellows .bellows-nav .bellows-menu-item {
    background: #a0a0a0 !important;
}

.bellows.bellows-skin-vanilla .bellows-nav .bellows-item-level-0.bellows-current-menu-item > .bellows-target {
    background: #a0a0a0 !important;
}

.bellows.bellows-skin-vanilla .bellows-nav .bellows-item-level-0 > .bellows-target:hover {
    /* background: #a0a0a0 !important; */
    background: rgba(0, 0, 0, 0.35) !important;
}

.bellows.bellows-skin-vanilla .bellows-nav .bellows-submenu {
    background: #a0a0a0 !important;
    padding: 0 0 0 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.bellows.bellows-skin-vanilla .bellows-nav .bellows-submenu .bellows-target {
    border-bottom: none !important;
}

.bellows.bellows-skin-vanilla .bellows-nav .bellows-submenu .bellows-target:hover {
    background: #a0a0a0 !important;
    color: #fff !important;
}

.bellows.bellows-skin-vanilla .bellows-nav .bellows-item-level-0.bellows-current-menu-ancestor > .bellows-target {
    background: #a0a0a0 !important;    
}

.bellows.bellows-skin-vanilla .bellows-nav .bellows-submenu .bellows-current-menu-item > .bellows-target {
    background: #a0a0a0 !important;        
}

.bellows.bellows-skin-vanilla .bellows-nav .bellows-item-level-0 > .bellows-target {
    /* border-bottom: none !important; */
}

.bellows.bellows-skin-vanilla .bellows-nav .bellows-item-level-0 > .bellows-target:hover {
    background: rgba(0, 0, 0, 0.35) !important;
}

.bellows.bellows-skin-vanilla .bellows-nav .bellows-submenu:hover {
    /* background: rgba(0, 0, 0, 0.35) !important; */   
}

.bellows.bellows-skin-vanilla .bellows-nav .bellows-submenu .bellows-target:hover {
    background: rgba(0, 0, 0, 0.35) !important;
}

/*
.bellows.bellows-skin-vanilla .bellows-nav .bellows-item-level-0.bellows-current-menu-item > .bellows-target {
    background: rgba(0, 0, 0, 0.35) !important;
}
*/

.bellows.bellows-skin-vanilla .bellows-nav .bellows-target {
    color: #fff !important;
}

.bellows.bellows-skin-vanilla .bellows-nav .bellows-item-level-0.bellows-active > .bellows-target {
    background: #a0a0a0 !important;        
}

.fa-chevron-up:before {
    color: #fff;
}

.fa-chevron-down:before {
    color: #fff;
}

.bellows .bellows-nav .bellows-target>.bellows-target-text {
   /* font-size: 1.25em; */
    font-size: 14px;
    padding: 0px 0 0px 10px;
}

/* WooCommerce - List elements */

.wooc-desc ul {
    list-style: none;
}

.wooc-desc li {
    font-size: 16px;
}

.wooc-desc ul li::before {
    color: #e53935;
    content: "\25A0"; 
    font-weight: bold; 
    display: inline-block;
    width: 1em; 
    margin-left: -1em;
}

.term-description ul {
    list-style: none;
}

.term-description li {
    font-size: 16px;
}

.term-description ul li::before {
    color: #e53935;
    content: "\25A0"; 
    font-weight: bold; 
    display: inline-block;
    width: 1em; 
    margin-left: -1em;
}

#tab-description ul {
    list-style: none;
}

#tab-description li {
    font-size: 16px;
}

#tab-description ul li::before {
    color: #e53935;
    content: "\25A0"; 
    font-weight: bold; 
    display: inline-block;
    width: 1em; 
    margin-left: -1em;
}

.woocommerce-loop-category__title {
    margin-top: 22px;
}

.woocommerce-loop-category__title:hover {
    color: #e53935;
}

/* YouTube embed */

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* WooCommerce - tabs */

.alignnone {
    margin: 5px 5px 5px 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover {
    color: #e53935;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
    color: #fff !important;
}

table {
    line-height: 1.24;
    border-left: 1px solid #eeeded;
}

dl dd {
    margin: 0 0 0 0 !important;
}

td {
    border-right: 1px solid #eeeded;
    padding: 9px 10px 9px 2px;
}

#tab-ominaisuudet td p {
    font-size: 14px !important;
}


#tab-asennusohjeet ul {
    list-style: none;
}

#tab-asennusohjeet ul li a {
    color: #e53935;
}

#tab-asennusohjeet ul li a:hover {
    color: #363535;
}

#tab-asennusohjeet ul li::before {
    color: #e53935;
    content: "\25A0"; 
    font-weight: bold; 
    display: inline-block;
    width: 1em; 
    margin-left: -1em;
}


.woocommerce-product-details__short-description ul {
    list-style: none;
}

.woocommerce-product-details__short-description ul li a {
    color: #e53935;
}

.woocommerce-product-details__short-description ul li a:hover {
    color: #363535;
}

.woocommerce-product-details__short-description ul li::before {
    color: #e53935;
    content: "\25A0"; 
    font-weight: bold; 
    display: inline-block;
    width: 1em; 
    margin-left: -1em;
}


.entry-content ul {
    list-style: none;
}

.entry-content ul li a {
    color: #e53935;
}

.entry-content ul li a:hover {
    color: #363535;
}

.entry-content ul li::before {
    color: #e53935;
    content: "\25A0"; 
    font-weight: bold; 
    display: inline-block;
    width: 1em; 
    margin-left: -1em;
}


/* WP Bakery */

.vc_general.vc_cta3.vc_cta3-style-custom {
    border-color: #fff !important;
    background-color: #ffff !important;
}

/* Uutiset */

.post-standard .post-info .cats {
    display: none;
}

.icon_profile {
    display: none;
}

.post-standard .post-info ul.meta li a {
    display: none;
}

.single-meta ul.meta li a {
    display: none;
}

.nile-widget.widget_archive ul li a {
    color: #fff;
    margin-left: 22px;
}

.nile-widget.widget_archive ul li a:hover {
    color: #212529;
}

.nile-widget.widget_recent_entries ul li:before, .nile-widget.widget_recent_comments ul#recentcomments li:before, .nile-widget.widget_archive ul li:before, .nile-widget.widget_meta ul li:before, .nile-widget.widget_rss ul li:before {
    color: #fff !important;
    left: 0px !important;
}

.nile-widget.widget_archive ul li {
    border-bottom: none;
}

/* Tietopankki - Accordion */

.wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel.vc_active .vc_tta-panel-heading {
    border-color: #e53935 !important;
    background-color: #e53935 !important;
}

.wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-heading {
    border-color: #e53935 !important;
    background-color: #e53935 !important;
}

.wpb-js-composer .vc_tta-shape-rounded.vc_tta-o-shape-group:not(.vc_tta-o-no-fill) .vc_tta-panel:first-child:not(:last-child) .vc_tta-panel-heading {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.wpb-js-composer .vc_tta-shape-rounded.vc_tta-o-shape-group:not(.vc_tta-o-no-fill) .vc_tta-panel:last-child:not(:first-child) .vc_tta-panel-heading {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-title>a {
    color: #fff !important;
}

.wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel.vc_active .vc_tta-panel-title>a {
    color: #fff !important;
}

.vc_tta-controls.icon-vs_tta-controls-icon-plus:before {
    border-color: #fff !important;
}

.vc_tta-controls-icon.vc_tta-controls-icon-plus:before {
    border-color: #fff !important;
}

.vc_tta-controls-icon.vc_tta-controls-icon-plus:after {
    border-color: #fff !important;
}

.wpb-js-composer .vc_tta.vc_general .vc_tta-panel-title>a:hover {
    background: #333333;
    /* border: 1px solid #333333; */
}

/* Contact Form 7 */

input {
    /* padding: 8px 0px 8px 0px; */
    padding: 8px 30px 8px 30px
}

@media only screen and (max-width: 768px) {
    .entry-content {
        padding: 0px 10px;
    }
}

/* Store Locator */

#asl-storelocator.asl-p-cont span {
    /* display: none; */
}

/* Custom tuotesivu */

.otsikko {
    text-align: left !important;
    /* color: #212529 !important; */
    color: #fff;
    text-shadow: 2px 3px 4px #212529;
}

#tuoteOtsikko {
    text-transform: uppercase;
    font-size: 36px;
}

#tuoteAlaotsikko {
    text-transform: none;
    font-size: 24px;
    font-weight: 400;
}

@media only screen and (max-width: 320px) {
    #tuoteOtsikko {
        font-size: 28px;
    }
}

/* Jälleenmyyjähaku */

#asl-storelocator.asl-p-cont.asl-bg-1 .panel-inner .item .addr-sec .p-title {
    font-size: 16px !important;
}

body #asl-storelocator.asl-p-cont.container .panel-inner p.p-area {
    font-size: 14px !important;
}

body #asl-storelocator.asl-p-cont.container.storelocator-main .item a {
    font-size: 14px !important;
}

#asl-storelocator.asl-p-cont.asl-bg-1 .item .p-direction {
    font-size: 13px !important;
}

#asl-storelocator.asl-p-cont.asl-bg-1 .categories_filter .multiselect.adropdown-toggle.style-btn.btn.btn-default .multiselect-selected-text {
    font-size: 13px !important;
}

#asl-storelocator.asl-p-cont.asl-bg-1 ul.adropdown-menu.multiselect-container > li > a label {
    font-size: 14px !important;
}

#asl-storelocator.asl-p-cont #style_0.infoWindow * {font-size: 14px !important;}
 
#asl-storelocator.asl-p-cont .asl-buttons a:before {display: none !important}
 
body #asl-storelocator.asl-p-cont #style_0 .info-addr > div {padding-left: 23px;}


.ssab_list {
  list-style: none;
}
.ssab_list li {
  position: relative;
  font-size: 20px;
    font-weight: 700;
    margin: 30px 0;
    padding-left: 7px;
}
.ssab_list li:before {
  content: ""; /* remove this is you want to use the image! */
  position: absolute;
  width: 30px;
  height: 30px;
  left: -30px;
  background: url("img/pic3.png") no-repeat 50% 50% / contain;
}

.carousel-indicators {
    bottom: -28px !important;
}

.carousel-indicators li {
    width: 40px !important;
}

.sp-button {
    margin-bottom: 0 !important;
}

.red a, .red .fa  {
    color: #e53935;
}